@import "normalize.css";
@import "components/ProgressBar.scss";
@import "components/SideBar.scss";
@import "components/Header.scss";
@import "components/Dashboard.scss";

#container, html, body {
  margin: 0;
  height: 100%;
}

.app {
    display: flex;
    height: 100%;
    .sidebar-container {
      width: 26%;
      .sidebar {
        height: 100%;
      }
    }

    .dashboard-container {
      width: 74%;
    }

}
