@import "normalize.css";
@import "components/ProgressBar.scss";
@import "components/SideBar.scss";

body {
  margin: 0;
}

.app {
    display: flex;
    height: 100vh;
    .sidebar-container {
      width: 26%;

      .sidebar {
        height: 100%;
      }
    }

    .dashboard-container {
      width: 74%;
    }

}
