@import "normalize.css";
@import "components/ProgressBar.scss";
@import "components/SideBar.scss";

#container, html, body {
  margin: 0;
  height: 100%;
}

.app {
    display: flex;
    height: 100%;
    .sidebar-container {
      width: 25%;

      .sidebar {
        height: 100%;
      }
    }

    .dashboard-container {
      width: 75%;
    }

}