.add-button {
  margin-top: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.points-label {
  margin-right: 8px;
}

.points-container {
  margin: 10px 0 20px 0;
  
  .points {
    width: 26px;
  }
}
