.header {
    width: 100%;
    position: relative;
    text-align: center;
}
.header-title {
  color: #333;
}
.total-points {
  right: 1rem !important;
  top: 0rem !important;
  position: absolute !important;
}
