container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python team_one_django/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python team_one_django/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python team_one_django/manage.py collectstatic --noinput"
  